*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root 
{
    --color-whitesmoke: whitesmoke;
    --color-gray: gray;
    --color-white: white;
    --color-black: black;

    --color-link-blue:#1877f2;

    /* numbers */
    --br: 16px; /* border-radius */

    --bg-body: var(--color-white);
    --text-main: var(--color-black);
}



[data-theme="dark"] 
{
    --color-whitesmoke: #2a2a2a; 
    --color-gray: #b0b0b0;       
    --color-white: #121212;     
    --color-black: #ffffff;      
    --color-link-blue: #446b9e; 
    
    --bg-body: var(--color-white);
    --text-main: var(--color-black);
}

body 
{
    height: 100vh;
    background-color: var(--bg-body);
    color: var(--text-main);
}

.header
{
    width: 100%;
    height: auto;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.header * 
{
    cursor: pointer;
}

.logo 
{
    font-size: 18px;
    letter-spacing: 1.5px;
}

.logo , .btn-menu
{
    width: auto;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--color-gray);
    border-radius: var(--br);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    color:var(--color-gray);
    text-decoration: none;
    transition: 0.3s;
}

.logo:hover , .btn-menu:hover
{
    background-color: var(--color-whitesmoke);
    transition: 0.3s;
}

.menu-style
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list
{
    width: 90%;
    height: auto;

    border: 1px solid var(--color-gray);
    border-radius: var(--br );

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
}

.menu-list a
{
    color: var(--color-link-blue);
    text-decoration: none;
    padding: 10px 20px;

    border-radius: var(--br);
}
.menu-list a:hover 
{
    background-color: var(--color-whitesmoke);
}   

.navigation 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navigation:has(.top:only-child) 
{
    justify-content: flex-end;
}

.top 
{
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: var(--br);
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-gray);
    cursor: pointer;
}

.go-home 
{
    width: 50%;
    height: 50px;
    border-radius: var(--br);
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
}

.sticky-header 
{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}

body.scrolled .sticky-header 
{
    display: block;
}

.style-sh 
{
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

#page_name 
{
    width: auto;
    min-height: 50px;
    height: auto;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    border-radius: var(--br);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    padding: 0 20px;
    text-align: center;
}

.main 
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.start-con 
{
    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Sacramento', cursive;
    color: var(--color-gray);
}

.start-title
{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    padding: 40px 0;
    border-bottom: 1px solid var(--color-gray);
}

.books-shelf 
{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
}

.book-con 
{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.book-img 
{
    width: 250px;
    max-height: 350px;
    height: auto;
    border-radius: var(--br);
    border: 1px soli     var(--color-gray);
}

.book-name
{
    font-size: 18px;
    color: var(--color-gray);
    padding: 10px;
}

.img-zone 
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.book-name-big
{
    font-size: 25px;
    color: var(--color-gray);
    padding: 10px;
}

.book-options
{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 40px 0;
}

.book-option 
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
    background-color: var(--color-whitesmoke);
    border: 1px solid var(--color-gray);
    cursor: pointer;
    text-decoration: none;
}

.book-options .book-option:nth-child(1)
{
    border-bottom-left-radius: var(--br);
    border-top-left-radius: var(--br);
}

.book-options .book-option:nth-child(2)
{
    border-bottom-right-radius: var(--br);
    border-top-right-radius: var(--br);
}

.center-title-book
{
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 20px;
    color: var(--color-gray);
}

.chapters-shelf
{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.chapter-con:first-child 
{
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}


.chapter-con:last-child 
{
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.chapter-con 
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    background-color: var(--color-whitesmoke);
    border-radius:0;
    padding: 30px 20px;
    cursor: pointer;
}

.book-description
{
    width: 50%;
    height: auto;
    color: var(--color-gray);
    padding: 40px;
    text-align: center;
}

.section-con
{
    width: 90%;
    height:auto;
    padding: 40px 0;

    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.sec-one
{
    grid-row: 1 / 3;
    min-height: 300px;
}

.section-con .sec-one , .sec-two , .sec-three
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2C9AB;
    border: 1px solid var(--color-gray);
    border-radius: var(--br);
}

.sec-two , .sec-three
{
    cursor: pointer;
    font-size: 40px;
    color: #D5E8D4;
    font-weight: 600;
    text-decoration: none;
}

.sec-one-flex
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.sec-one-title
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #567D67;
}

.contact-me-link
{
    width: 100%;
    height: 70px;
    border-radius: var(--br);
    border: 1px solid #567D67;
    color: #567D67;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E8D4;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
}

.footer 
{
    margin: 40px 0;
    width: 50%;
    height: auto;
    border-radius: var(--br);
    border: 1px solid var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.footer-links
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-links a 
{
    text-decoration: none;
    color: var(--color-link-blue);
}

.space
{
    width: 100%;
    height: 80px;
}

p
{
    width: 50%;
    color: var(--color-gray);
    padding: 10px;
}

.section-wiki 
{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 50%;
    margin: 20px 0;
}

.section-wiki a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--color-gray);
    background-color: var(--color-whitesmoke);
    color: var(--color-gray);
    border-radius: var(--br);
}

.sec-w-one, .sec-w-two 
{
    height: 100px; 
}

.sec-w-three 
{
    grid-column: span 2; 
    height: 50px;   
    letter-spacing: 4px;    
}

@media screen and (max-width: 600px) {
    
    .section-wiki 
    {
        width: 100%;
    }

    .sec-w-three
    {
        height: 80px;
    }

    p
    {
        width: 100%;
    }

    .book-description
    {
        width: 100%;
    }

    .book-options a , .chapter-con
    {
        height: 80px;
    }

    .book-options
    {
        width: 100%;
    }

    .chapters-shelf
    {
        width: 100%;
    }

    #page_name
    {
        width: 100%;
    }

    .go-home
    {
        width: 100%;
        height: 80px;
    }

    .top 
    {
        width: 80px;
        min-width: 80px;
        height: 80px;
    }

    .header 
    {
        padding: 20px;
    }

    .section-con
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .sec-one
    {
        min-height: 300px;
    }

    .sec-two , .sec-three
    {
        min-height: 100px;
    }

    .footer
    {
        width: 100%;
    }

    .footer-links
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sec-one-title
    {
        justify-content: center;
    }

    .footer-links a 
    {
        padding: 10px;
    }

    .logo-name 
    {
        font-size: 24px;
    }

    .pipe 
    {
        display: none;
    }

}